<nav class="navbar navbar-expand-lg bg-light" xmlns:sec="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="navbar" id="navbarNavAltMarkup">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/">Главная</a>
            </li>
<!--Brands-->
            <li class="nav-item" sec:authorize="hasRole('MODERATOR')">
                <a class="nav-item nav-link text-dark" href="/brands/add">Добавить Бренд</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-item nav-link text-dark" href="/brands/all">Все Бренды</a>
            </li>
<!--Models-->
            <li class="nav-item" sec:authorize="hasRole('MODERATOR')">
                <a class="nav-item nav-link text-dark" href="/models/add">Добавить Модель</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-item nav-link text-dark" href="/models/all">Все Модели</a>
            </li>
<!--Offers-->
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-item nav-link text-dark" href="/offers/add">Создать сделку</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-item nav-link text-dark" href="/offers/all">Все сделки</a>
            </li>
<!--Users-->
            <li class="nav-item" sec:authorize="hasRole('MODERATOR')">
                <a class="nav-item nav-link text-dark" href="/users/add">Добавить Пользователя</a>
            </li>

            <li class="nav-item" sec:authorize="hasRole('MODERATOR')">
                <a class="nav-item nav-link text-dark" href="/users/all">Все пользователи</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <form
                        th:method="post"
                        th:action="@{/users/logout}">
                    <input class="btn btn-link nav-link" type="submit" value="Выход">
                </form>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-item nav-link text-dark" th:href="@{/users/register}">Регистрация</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-item nav-link text-dark text-info" href="/users/profile"><th:block sec:authentication="name"></th:block></a>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-item nav-link text-dark" th:href="@{/users/login}">Вход</a>
            </li>
        </ul>
    </div>
</nav>
